/target/
Cargo.lock
/stash/

build/
dist/
__pycache__/
venv/
.idea/
surrealml.egg-info/
.vscode/
./modules/utils/target/
modules/core/target/
modules/c-wrapper/target/
./modules/onnx_driver/target/
modules/onnx_driver/target/
surrealdb_build/
modules/core/onnx_driver/
*.so
surrealml/rust_surrealml.cpython-310-darwin.so
.surmlcache
./modules/core/model_stash/
clients/python/build-context/
modules/c-wrapper/build-context/
*.dylib
clients/python/surrealml/onnxruntime/
clients/python/venv
clients/python/surrealml.egg-info
clients/python/surrealml/__pycache__
modules/c-wrapper/build-context/
clients/javascript/node_modules/
clients/python/surrealml/config.json
modules/transformers/.DS_Store