

/target/
Cargo.lock
/stash/

build/
dist/
venv/
.idea/
surrealml.egg-info/
.vscode/
./modules/utils/target/
modules/utils/target/
./modules/onnx_driver/target/
modules/onnx_driver/target/
surrealdb_build/
modules/utils/onnx_driver/
*.so
surrealml/rust_surrealml.cpython-310-darwin.so
