
[workspace]
resolver = "2"
members = [
    "modules/c-wrapper",
    "modules/core",
    "modules/pipelines/data_access",
    "modules/transformers/run-worker",
    "modules/transformers/tokenizers",
    "modules/transformers/wasm-wrapper"
]