[package]
name = "surrealml"
version = "0.1.0"
edition = "2021"

[features]
default = ["python"]
python = ["pyo3"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tch = "0.13.0"
regex = "1.9.3"
tempfile = "3.7.1"
pyo3 = { version = "0.19.2", optional = true}
uuid = { version = "1.4.1", features = ["v4"] }
once_cell = "1.18.0"


[[bin]]
name = "surrealml"
path = "src/main.rs"

[lib]
name = "surrealml"
path = "src/lib.rs"
