[package]
name = "surrealml"
version = "0.1.0"
edition = "2021"

[features]
default = ["python"]
python = ["pyo3"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tch = "0.13.0"
regex = "1.9.3"
tempfile = "3.7.1"
pyo3 = { version = "0.18.3", optional = true }
uuid = { version = "1.4.1", features = ["v4"] }
once_cell = "1.18.0"
pyo3-tch = { version = "0.13.0", optional = true }

[dev-dependencies]
tokio = { version = "1.32.0", features = ["full"] }
hyper = { version = "0.14.27", features = ["full"] }
serde = "1.0.183"
serde_json = "1.0.105"
futures-util = "0.3.28"
actix-web = "4.3.1"
# pyo3-tch = "0.13.0"

[[bin]]
name = "surrealml"
path = "src/main.rs"

[lib]
name = "surrealml"
path = "src/lib.rs"
