name: Release to Github

on:
  workflow_dispatch:  # Allows manual triggering of the workflow
    inputs:
      version:
        description: 'Release version (e.g., 1.2.3)'
        required: true

permissions:
  contents: write    # Allows creating tags, commits, and pushing code if needed
  deployments: write    # Allows creating and updating GitHub releases
  actions: write     # Allows uploading workflow artifacts and interacting with workflow artifacts
  packages: write

env:
  CARGO_TERM_COLOR: always  # Ensures cargo outputs colored logs

jobs:
  build:
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            linux-override: false
          - os: macos-13
            linux-override: false
          - os: macos-14
            linux-override: false
          - os: windows-latest
            linux-override: false
          - os: ubuntu-latest  # Extra Ubuntu build for ARM support
            linux-override: true
    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3  # Fetches the repository

      - name: Ensure Cargo Directories Exist for Cache Restore
        run: |
          mkdir -p ~/.cargo/registry ~/.cargo/index target
        shell: bash  # Prevents cache failures due to missing directories

      - name: Cache Cargo Registry, Index, Build
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/index
            target
          key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            cargo-build-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/Cargo.toml') }}
            cargo-build-${{ runner.os }}-${{ runner.arch }}-

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable  # Installs stable Rust toolchain

      - name: Build project
        run: cargo build --verbose  # Builds the Rust project

  prepare-release:
    needs: [build]  # Runs only after build job completes
    runs-on: ubuntu-latest  # Ensures consistent release process
    outputs:
      rr_cargo_version: ${{ steps.get-version.outputs.VERSION }}
      workflow_git_tag: ${{ steps.get-version.outputs.WORKFLOW_GIT_TAG }}
    steps:
      - name: Checkout repository with full history
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Required for versioning
          token: ${{ secrets.RELEASE_TOKEN }}  # Uses a token with release permissions

      - name: Install Rust Target for Linux Arm if needed
        shell: bash
        run: |
          if [ "${{ matrix.platform.linux-override }}" = "true" ]; then
            rustup target add aarch64-unknown-linux-gnu
          fi

      - name: Cache Cargo dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/index
            target
          key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Install cargo-release
        run: |
          if ! command -v cargo-release &> /dev/null; then
            cargo install cargo-release
          fi

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: Extract Version from Cargo.toml
        id: get-version
        run: |
          # VERSION=$(grep '^version = ' Cargo.toml | sed -E 's/version = "(.*)"/\1/')
          VERSION=${{ github.event.inputs.version }}
          echo "VERSION=$VERSION" >> "$GITHUB_OUTPUT"
          echo "WORKFLOW_GIT_TAG=v$VERSION" >> "$GITHUB_OUTPUT"

  release:
    needs: [prepare-release]
    strategy:
      matrix:
        platform:
          - os: ubuntu-latest
            linux-override: false
          - os: macos-13
            linux-override: false
          - os: macos-14
            linux-override: false
          - os: windows-latest
            linux-override: false
          - os: ubuntu-latest
            linux-override: true
    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Build release binary for ARM64
        shell: bash  # Forces the step to use Bash
        # if: matrix.platform.linux-override == 'true'
        run: |
          if [[ "${{ matrix.platform.linux-override }}" == "true" ]]; then
            sudo apt-get update
            sudo apt-get install -y \
              gcc-aarch64-linux-gnu \
              libc6-dev-arm64-cross \
              build-essential \
              gcc-aarch64-linux-gnu \
              g++-aarch64-linux-gnu
            sudo apt-get install -y gcc-aarch64-linux-gnu libc6-dev-arm64-cross
            rustup target add aarch64-unknown-linux-gnu
            cargo build -p c-wrapper --release --target aarch64-unknown-linux-gnu --verbose
          else
            echo "bypassing build"
            # cargo build -p c-wrapper --release --verbose
          fi
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc

      - name: Build release binary
        shell: bash  # Forces the step to use Bash
        # if: matrix.platform.linux-override == 'false'
        run: |
          if [[ "${{ matrix.platform.linux-override }}" == "true" ]]; then
            echo "bypassing build"
            # rustup target add aarch64-unknown-linux-gnu
            # cargo build -p c-wrapper --release --target aarch64-unknown-linux-gnu --verbose
          else
            cargo build -p c-wrapper --release --verbose
          fi
          ls

      - name: Copy release binary to root
        shell: bash
        run: |
          ls target/release
          if [[ -f "target/release/libc_wrapper.so" ]]; then
            cp target/release/libc_wrapper.so .
          elif [[ -f "target/release/c_wrapper.dll" ]]; then
            cp target/release/c_wrapper.dll .
          elif [[ -f "target/release/libc_wrapper.dylib" ]]; then
            cp target/release/libc_wrapper.dylib .
          elif [[ -f "target/aarch64-unknown-linux-gnu/release/libc_wrapper.so" ]]; then
            cp target/aarch64-unknown-linux-gnu/release/libc_wrapper.so .
          elif [[ -f "target/x86_64-unknown-linux-gnu/release/libc_wrapper.so" ]]; then
            cp target/x86_64-unknown-linux-gnu/release/libc_wrapper.so .
          else
            echo "No binary to copy for this OS."
          fi    

      # - name: Copy release binary to root
      #   shell: bash
      #   run: |
      #     ls
      #     cd target && ls && cd release && ls
      #     if [[ "${{ matrix.platform.linux-override }}" = "true" ]]; then
      #       cp target/aarch64-unknown-linux-gnu/release/libc_wrapper.so .
      #     else
      #       case "${{ runner.os }}" in
      #         Linux)
      #           cp target/release/libc_wrapper.so .
      #           ;;
      #         macOS)
      #           cp target/release/libc_wrapper.dylib .
      #           ;;
      #         Windows)
      #           cp target/release/libc_wrapper.dll .
      #           ;;
      #         *)
      #           echo "Unsupported OS for copying binary"
      #           cd target && ls && cd release && ls
      #           exit 1
      #           ;;
      #       esac
      #     fi

      - name: Archive binary
        uses: ksm2/archive-action@v1
        with:
          name: "surrealml-${{ needs.prepare-release.outputs.rr_cargo_version }}"
          format: "tar.gz"
          include: "{libc_wrapper.so, c_wrapper.dll,libc_wrapper.dylib,README.md}"

      - name: Get Build Info
        id: build-info
        shell: bash
        env:
          INPUT_VERSION: ${{ github.event.inputs.version }}
          VERSION: ${{ github.event.inputs.version }}
        run: |
          OS=$(uname -s | tr '[:upper:]' '[:lower:]')
          if [ "${{ matrix.platform.linux-override }}" = "true" ]; then
            TARGET="arm64-unknown-linux-gnu"
            ARCH="arm64"
          else
            ARCH=$(uname -m)
            TARGET=""
              case "$OS" in
              linux) TARGET="$ARCH-unknown-linux-gnu" ;;
              darwin) TARGET="$ARCH-apple-darwin" ;;
              msys*|cygwin*|mingw*) TARGET="$ARCH-pc-windows-msvc" ;;
            esac
          fi

          # VERSION=$(grep '^version = ' ./modules/c-wrapper/Cargo.toml | sed -E 's/version = "(.*)"/\1/')
          FILENAME="surrealml-v${INPUT_VERSION}-${TARGET}"
          echo "OS=$OS" >> "$GITHUB_ENV"
          echo "ARCH=$ARCH" >> "$GITHUB_ENV"
          echo "TARGET=$TARGET" >> "$GITHUB_ENV"
          echo "FILENAME=$FILENAME" >> "$GITHUB_ENV"          

      - name: Compress tar.gz
        uses: ksm2/archive-action@v1
        with:
          name: "${{ env.FILENAME }}"
          format: "tar.gz"
          include: "{libc_wrapper.so,c_wrapper.dll,libc_wrapper.dylib,README.md}"

      - name: Compress zip
        uses: ksm2/archive-action@v1
        with:
          name: "${{ env.FILENAME }}"
          format: "zip"
          include: "{libc_wrapper.so,c_wrapper.dll,libc_wrapper.dylib,README.md}"

      - name: Create or Update Release
        env:
          VERSION: ${{ needs.prepare-release.outputs.rr_cargo_version }}
          WORKFLOW_GIT_TAG: ${{ needs.prepare-release.outputs.workflow_git_tag}}
        uses: ncipollo/release-action@v1
        with:
          artifacts: "${{ env.FILENAME }}.tar.gz,${{ env.FILENAME }}.zip"
          allowUpdates: 'true'
          generateReleaseNotes: 'true'
          token: ${{ secrets.RELEASE_TOKEN }}
          tag: ${{ env.WORKFLOW_GIT_TAG }}
