name: Run C-wrapper unit tests

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test_core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Run Core Unit Tests
<<<<<<< HEAD
      # run: cd modules/c-wrapper/scripts && sh build-docker.sh
      run: docker build -t rust-onnx-runtime . && docker run --rm rust-onnx-runtime bash -c "cd modules/c-wrapper/tests && python3 -m unittest discover ."
=======
      run: cd modules/c-wrapper/scripts && sh build-docker.sh
>>>>>>> origin/main
