name: Run SkLearn Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test_core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Run Core Unit Tests
      run: cd modules/core && cargo test --features sklearn-tests
