name: Run Onnx Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test_core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Run Core Unit Tests
      run:  docker run --rm -it rust-onnx-runtime bash -c "cd modules/core && cargo test --features onnx-tests"