name: Rust Test for surrealml-core on Pull Request

on:
  pull_request: {}

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Run Unit Tests
      run: cd modules/utils && cargo test --verbose
