# name: Surrealml Core Deployment

# on:
#   push:
#     branches:
#       - main
#     paths:
#       - 'modules/core/**'

# jobs:
#   post_merge_job:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v3

#     - uses: katyo/publish-crates@v2
#       with:
#           path: './modules/core'
#           args: --no-verify
#           registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
