name: Run tests on Pull Request

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test_core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Pre-test Setup
      run: |
        python3 -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install -r requirements.txt
        
        # build the local version of the core module to be loaded into python
        echo "Building local version of core module"
        
        pip install .
        
        python ./tests/scripts/ci_local_build.py
        echo "Local build complete"
        
        # train the models for the tests
        deactivate
        python ./tests/scripts/build_assets.py

    - name: Run Python Unit Tests
      run: |
        source venv/bin/activate
        python -m unittest discover
        deactivate

    - name: Run Core Unit Tests
      run: cd modules/core && cargo test

    - name: Run HTTP Transfer Tests
      run: cargo test
