name: Surrealml Core Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  post_merge_job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - uses: katyo/publish-crates@v2
      with:
          path: './modules/utils'
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
