name: Run Torch Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test_core:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Run Core Unit Tests
      run: docker build -t rust-onnx-runtime . && docker run --rm rust-onnx-runtime cd modules/core && cargo test --features torch-tests
